<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Restaurante - Menu</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
			rel="stylesheet"
		/>
		<style>
			.hero {
			    background-color: #f8f9fa;
			    padding: 60px 0;
			    margin-bottom: 30px;
			}
		</style>
	</head>

	<body>
		<div class="hero text-center">
			<div class="container">
				<h1 class="display-4">Bem-vindo ao nosso Restaurante</h1>
				<p class="lead">
					Confira nosso cardápio com as melhores opções para você
				</p>
				<a href="{% url 'produtos' %}" class="btn btn-primary btn-lg"
					>Ver Cardápio</a
				>
			</div>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
